<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pansiyon_uygulaması.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value />
      </setting>
		
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Pansiyon_uygulaması.Properties.Settings>
      <setting name="No" serializeAs="String">
        <value>No</value>
      </setting>
      <setting name="Adı" serializeAs="String">
        <value>Adı</value>
      </setting>
      <setting name="Soyadı" serializeAs="String">
        <value>Soyadı</value>
      </setting>
      <setting name="Cinsiyet" serializeAs="String">
        <value>Cinsiyet</value>
      </setting>
      <setting name="Telefon" serializeAs="String">
        <value>Telefon</value>
      </setting>
      <setting name="Mail" serializeAs="String">
        <value>Mail</value>
      </setting>
      <setting name="TC" serializeAs="String">
        <value>TC</value>
      </setting>
      <setting name="OdaNo" serializeAs="String">
        <value>OdaNo</value>
      </setting>
      <setting name="Ucret" serializeAs="String">
        <value>Ucret</value>
      </setting>
      <setting name="GirisTarih" serializeAs="String">
        <value>GirisTarih</value>
      </setting>
      <setting name="CikisTarih" serializeAs="String">
        <value>CikisTarih</value>
      </setting>
      <setting name="Gıdalar" serializeAs="String">
        <value>Gıdalar</value>
      </setting>
      <setting name="Icecekler" serializeAs="String">
        <value>Icecek</value>
      </setting>
      <setting name="Atistirmaliklar" serializeAs="String">
        <value>Cerezler</value>
      </setting>
    </Pansiyon_uygulaması.Properties.Settings>
  </userSettings>
</configuration>